* {
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: #111111 !important;
}

.navbar-brand img {
    width: 200px;
    height: 50px;

}

.carousel-inner div.heading-1 {
    background: url("../images/800px-Apple_watch.jpg");
    background-size: cover;
    height: 500px;
}

.carousel-inner div.heading-2 {
    background: url("../images/aperture-art-blur-414781.jpg");
    background-size: cover;
    height: 500px;
}

.carousel-inner div.heading-3 {
    background: url("../images/business-camera-contemporary-325153.jpg");
    background-size: cover;
    height: 500px;
}

.carousel-inner .carousel-item .overlay-1,
.carousel-inner .carousel-item .overlay-2,
.carousel-inner .carousel-item .overlay-3 {
    background-color: rgba(33, 34, 38, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.overlay-1 h1,
.overlay-2 h1,
.overlay-3 h1 {
    color: #00F7B0;
    padding-top: 200px;
    display: block;
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

#device {
    background: #141414;
    padding: 50px 0;
}

#device .device-head-1 h1 {
    font-size: 27px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    line-height: 40px;
    color: #fff;
}

#device .device-head-1 h1 strong {
    color: #00D8A7;
    font-size: 30px;
}

#device .device-head-2 h1 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
}

#device .sub-1 h3,
#device .sub-2 h3,
#device .sub-3 h3 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 40px;
    padding-top: 30px;
    color: #fff;
    border-top: 3px solid #00D8A7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#device .sub-1 p,
#device .sub-2 p,
#device .sub-3 p {
    color: #fff;
}

#device img {
    max-width: 100%;
}

#about {
    padding: 100px 0;
}

#about p {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;

}

#about .tool p {
    font-size: 18px;
    font-weight: 400;
}

#about .tool div p {
    border-bottom: 5px solid #03ECB7;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
}
#about .tool i{
    font-size: 80px;
    margin: 0 80px;
}
#about .tool img{
    width: 100%;
    height: 80px;
}
#future {
    background: #111111;
    height: 550px;
    padding: 100px 0;
}

#future img {
    width: 200px;
    height: 50px;

}

#future h3 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding: 20px 0;
}

#future h3 strong {
    color: #00D8A7;
    font-weight: 600;
}

#future p {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

#future.online img {
    width: 200px;
    height: 50px;

}

#future .amazon,
#future .playstore {
    display: inline-block;
    border: 1px solid #00D8A7;
    padding: 1px 0;
    border-radius: 10px;
    margin: 5px 5px;
    transition: all 300ms ease-in-out;
}

#future .amazon:hover,
#future .playstore:hover {
    border-color: #fff;

}
#price{
    padding: 100px 0;
}
#price .col-md-6{
    padding: 0 1px;
    margin-bottom: 20px;
}
#price h2{
      font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
#price p{
      font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
#price a{
    text-decoration: none;
    color: #000;
}
#price .card{
    margin: 0 auto;
   transition: all 200ms ease-in-out;
}
#price .iphone h3,h4{
    padding: 10px 0;
}
#price .card:hover{
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
    transform: scale(1.1);
    
}
#price img{
    width: 150px; 
    display: table;
    margin: 0 auto;
}
#price h3,
#price h4{
    display: table;
    margin: 0 auto;
     font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
#price .price{
    padding: 50px 0;
}
#price .range{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
    padding: 20px 0;
    width: 95%;
    margin: 0 auto;
}
#choice{
    padding: 100px 0;
    background: #111111;
}
#choice p{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}
.btn-lg{
    padding: 5px 50px;
    margin-top: 10px;
}
#clients{
    padding: 100px 0;
}
#clients .col-md-12{
    margin:50px 0; 
}
#clients .client-1,
#clients .client-2,
#clients .client-3,
#clients .client-4,
#clients .client-5,
#clients .client-6
{
    border:1px solid #000;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin: 5px 0;
    
    
}
#clients .client-1{
    background: url("../images/bg.svg") no-repeat;
    background-size: cover;
}
#clients .client-2{
    background: url("../images/bg2.svg") no-repeat;
    background-size: cover;
}
#clients .client-3{
    background: url("../images/bg3.svg") no-repeat;
    background-size: cover;
}
#clients .client-4{
    background: url("../images/bg4.svg") no-repeat;
    background-size: cover;
}
#clients .client-5{
    background: url("../images/bg2.svg") no-repeat;
    background-size: cover;
}
#clients .client-6{
    background: url("../images/bg3.svg") no-repeat;
    background-size: cover;
}
#clients i{
    font-size: 65px;
    margin: 40px 0;
    
}
footer{
 background:#111111;
    color: #fff;
    padding: 100px 0 20px 0;
}
#foot .social{
    display: inline-flex;
}
#foot .social button{
    margin: 0 5px;
}
#foot .social .btn-success{
    background:#00DDF7  ;
    color: #000;
    border: none;
}
#foot .social .btn-outline-success{
    border-color: #8B00F7;
    color: #fff;
}
#foot .social .btn-outline-success:hover{
   background: #8B00F7;
}
#foot .about,
#foot .account{
    margin-top: 15px;
}
#foot .about li,
#foot .account li
{
    list-style-type: none;
}
#foot .about li>a,
#foot .account li>a
{
    text-decoration: none;
    color: #fff;
}
#foot .purchase .btn-outline-success{
    border-color: #F70096;
    color: #F70096
}
#foot .purchase .btn-outline-success:hover{
    background: #F70096;
    color: #fff;
}
#foot .patent{
    margin-top: 70px;
    display:inline-flex;
}
#foot .patent ul{
    margin-left: 20px;
    display:inline-flex;
   
}
#foot .patent ul li{
   list-style-type: none;
    padding: 0 9px
}